% import datetime
<!DOCTYPE html>
<html>
    <head>
        <title>Wer ist da?</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link href="static/index.css" rel="stylesheet" />
        <link href="generated/local-links.css" rel="stylesheet" />
      % for ip in ip4_addresses():
        <link href="http://{{ ip }}:{{ PORT }}/generated/local-link.css?ip={{ ip }}" rel="stylesheet" />
      % end      
    </head>
    <body>
      % if defined("saved"):
          <div class="{{ "saved" if saved else "deleted" }} message">
              ✓ {{ "gespeichert" if saved else "gelöscht" }}
              {{ datetime.datetime.now().strftime("%H:%M:%S") }}
          </div>
      % end
      % if mac == None:
        <div class="local-links">
          % for ip in ip4_addresses():
            <a class="ip-{{ ip.replace('.', '-') }} local-link" href="http://{{ ip }}:{{ PORT }}/">Zu meinem Eintrag</a>
          % end
        </div>
      % else:
          % device = ([ device for device in data["devices"] if device["mac"] == mac]  + [{}])[0]
        <form class="new-entry" action="/" method="post">
		<input type="text" id="name" name="name" placeholder="Name" value="{{ device.get("name", "") }}" /> 
            <span class="mac">{{ mac }}</span>
            <br/>
	    <textarea id="about" name="about" placeholder="über mich">{{ device.get("about", "") }}</textarea>
            <div class="options">
		    <input type="checkbox" name="there" {{ "checked" if device.get("there") else "" }}/>Anderen zeigen, dass ich da bin
                <br/>
                <input type="checkbox" name="away" {{ "checked" if device.get("away") else "" }} />Anderen zeigen, dass ich nicht da bin
            </div>
            <input type="submit" value="Speichern" />
        </form>
      % end
        <table class="devices">
            <tr class="heading">
                <td class="name">Name</td>
                <td class="presence">Anwesend</td>
                <td class="about">Beschreibung</td>
            </tr>
          % displayed_entries = []
          % # sort by presence and then by name
          % for device in sorted(data["devices"], key=lambda device: (device["mac"] not in present, device["name"].lower())):
            % is_present = device["mac"] in present
            % entry = (device["name"], device["about"])
            % if not entry in displayed_entries and (not is_present and device["away"] or is_present and device["there"]):
                % displayed_entries.append(entry)
            <tr class="device {{ 'present' if is_present else 'away' }}">
                <td class="name">{{ device["name"] }}</td>
                <td class="presence">{{ 'anwesend' if is_present else 'nicht da' }}</td>
                <td class="about">{{ device["about"] }}</td>
            </tr>
            % end
          % end
        </table>
        <p class="last-update">
            {{ get_last_update_text() }}
        </p>
        <footer>
            Schau dir den <a href="https://github.com/HashTec-Potsdam/wer-ist-da">Quelltext</a> an.
        </footer>
    </body>
</html>

